* {
    margin: 0;
}

html, body{
    height: 100%;
    font-size: 1.5em;
}
body{
    font-family: Verdana;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    color:white;
    height:8rem;
}